{% extends 'base.html.twig' %}

{% block title %}Program in category {{ category }}{% endblock %}

{% block body %}
    <h1>Toutes les séries de la categorie {{ category }} : </h1>
    {% for program in programs %}
        <div class="col-10 col-md-10 row m-2">
            <div class="align-items-center">
                <img src="{{ program.poster }}" class="thumbnail" height="150px">
            </div>
            <div class="ml-2 col-md-8">
                <h2 class="text-left"><a href="{{ path('wild_show', { 'slug':slugs[loop.index0] }) }}">{{ program.title }}</a></h2>
                <h6>Catégorie : <a href="{{ path('show_category', { 'categoryName':category }) }}">{{ category }}</a></h6>
                <p class="text-justify">{{ program.summary }}</p>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
