{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
<div class="row">
    <div class="media col-2 justify-content-center">
        <img class="align-self-start m-3 thumbnail" src="{{program.poster}}" alt="{{ program.title }} poster">
    </div>
    <div class="season col-10">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <h4>Catégorie : <a href="{{ path('show_category', { 'categoryName':program.category.name }) }}">{{ program.category.name }}</a></h4>
        </div>
        <ul>
        {% for season in program.seasons %}
            <li><a href="{{ path('wild_showBySeason', {'id' : season.id }) }}">{{ season.number }} - {{ season.year }} : {{ season.description | slice(0,50) }}…</a></li>
            <ul>
            {% for episode in season.episodes %}
                    <li><a href="{{ path('wild_showByEpisode', {'id' : episode.id }) }}">{{ episode.number }} - {{ episode.title }}</a><br/></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
